<header th:fragment="head">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>信息交换平台</title>

	<!-- Bootstrap -->
	<link href="/sources/js/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style type="text/css">
		body {
			padding-top: 50px;
		}
		.starter-template {
			padding: 40px 15px;
		}
		.bs-docs-footer {
			padding-top: 50px;
			padding-bottom: 50px;
			margin-top: 100px;
			color: #99979c;
			text-align: center;
			background-color: #2a2730;
		}
		.container { width: 80%;}
	</style>

</header>